.navbar {
    background-color: #333;
    padding: 1rem;
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.logo {
    color: white;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: bold;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.nav-links-left, .nav-links-right {
    display: flex;
}

.nav-links-left a, .nav-links-right a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}
